repos:
  - repo: https://github.com/psf/black
    rev: '24.3.0'  # Use the latest stable version of black
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.7.5  # Use the latest stable version
    hooks:
      - id: docformatter
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-added-large-files
      - id: check-merge-conflict
